body {
    background-color: rgb(253, 233, 55);
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.chart-container {
    background-color: white; /* Fundo branco para gráficos, resultados e projeções */
    padding: 20px; /* Adiciona padding ao redor */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-align: center; /* Centraliza o conteúdo */
}

.pie-chart-container {
    max-width: 300px; /* Reduz o tamanho máximo do gráfico de pizza */
    margin: auto; /* Centraliza o gráfico de pizza */
}

.small-chart {
    width: 100% !important; /* Faz o gráfico de pizza ocupar toda a largura do container */
}

.btn-dark-custom {
    background-color: #343a40;
    color: white;
    text-decoration: none; /* Remove underline */
}

.btn-dark-custom:hover {
    background-color: #23272b; /* Escurece a cor do botão ao passar o mouse */
}

h3 {
    text-align: center; /* Centraliza os títulos */
}

.content {
    text-align: center;
    width: 100%;
    max-width: 500px; /* Ajuste conforme necessário */
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinha o texto à esquerda */
    max-height: 90vh; /* Limita a altura máxima a 90% da altura da viewport */
    overflow-y: auto; /* Adiciona scroll vertical se necessário */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-group label {
    text-align: left; /* Justifica os nomes dos campos */
    margin-bottom: 5px;
}

.form-group input {
    flex: 1;
}

.mb-2 {
    margin-bottom: 8px !important; /* Ajusta o espaçamento entre os campos */
}

.mb-3 {
    margin-bottom: 12px !important; /* Ajusta o espaçamento entre os campos e o botão */
}
.form-group {
    margin-bottom: 10px; /* Espaço entre os campos do formulário */
}
.form-container {
    max-width: 800px; /* Largura máxima da área do formulário */
}
.form-control-lg {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
/* styles.css */

/* Aumenta a fonte dos resultados dentro da chart-container */
.chart-container.pie-chart-container p {
    font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
}

.chart-container.pie-chart-container strong {
    font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
}

.chart-container.pie-chart-container span {
    font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
}
