<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meta Calculadora</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="content">
            <h1 class="text-center mb-4">Meta Calculadora</h1>
            <div class="form-container">
                <form action="/calcular-meta" method="get">
                    <div class="form-group mb-2">
                        <label for="diasRealizados">Dias Realizados:</label>
                        <input type="number" class="form-control" id="diasRealizados" name="diasRealizados" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="tpvNovo">TPV Novo:</label>
                        <input type="number" class="form-control" id="tpvNovo" name="tpvNovo" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="metaTpvNovo">Meta TPV Novo:</label>
                        <input type="number" class="form-control" id="metaTpvNovo" name="metaTpvNovo" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="tpvLegado">TPV Legado:</label>
                        <input type="number" class="form-control" id="tpvLegado" name="tpvLegado" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="metaTpvLegado">Meta TPV Legado:</label>
                        <input type="number" class="form-control" id="metaTpvLegado" name="metaTpvLegado" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="margemNovo">Margem Novo:</label>
                        <input type="number" class="form-control" id="margemNovo" name="margemNovo" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="metaMargemNovo">Meta Margem Novo:</label>
                        <input type="number" class="form-control" id="metaMargemNovo" name="metaMargemNovo" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="margemLegado">Margem Legado:</label>
                        <input type="number" class="form-control" id="margemLegado" name="margemLegado" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="metaMargemLegado">Meta Margem Legado:</label>
                        <input type="number" class="form-control" id="metaMargemLegado" name="metaMargemLegado" required>
                    </div>
                    <button type="submit" class="btn btn-dark-custom btn-block mt-3">Calcular</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
