<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/scripts.js" defer></script>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Resultado</h1>
        
        <!-- Charts -->
        <div class="row mb-4 text-center">
            <div class="col-md-6 mb-4">
                <h3>Gráfico de Resultados</h3>
                <div class="chart-container">
                    <canvas id="resultadoChart"></canvas>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <h3>Resultado</h3>
                <div class="chart-container pie-chart-container">
                    <p><strong>Comissão Projetada:</strong> <span id="comissaoProjetada" th:text="${metaResponse.comissaoProjetada}">0</span>%</p>
                    <p><strong>Valor da Comissão:</strong> R$<span id="comissao" th:text="${metaResponse.comissao}">0</span></p>
                    <p><strong>Salário Total:</strong> R$<span id="salarioTotal" th:text="${metaResponse.salarioTotal}">0</span></p>
                </div>
            </div>
        </div>

        <!-- Results -->
        <div class="row mb-4 text-center">
            <div class="col-md-6 mb-4">
                <h3>Resultados das Metas</h3>
                <div class="chart-container">
                    <p><strong>Resultado TPV Novo:</strong> <span id="resultadoMetaNovo" th:text="${metaResponse.resultadoMetaNovo}">0</span>%</p>
                    <p><strong>Resultado TPV Legado:</strong> <span id="resultadoMetaLegado" th:text="${metaResponse.resultadoMetaLegado}">0</span>%</p>
                    <p><strong>Resultado Margem Novo:</strong> <span id="resultadoMargemNovo" th:text="${metaResponse.resultadoMargemNovo}">0</span>%</p>
                    <p><strong>Resultado Margem Legado:</strong> <span id="resultadoMargemLegado" th:text="${metaResponse.resultadoMargemLegado}">0</span>%</p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <h3>Resultados das Comissões</h3>
                <div class="chart-container">
                    <p><strong>Resultado Comissão TPV Novo (10%):</strong> <span id="resultadoMetaNovoComissao" th:text="${metaResponse.resultadoMetaNovoComissao}">0</span>%</p>
                    <p><strong>Resultado Comissão TPV Legado (15%):</strong> <span id="resultadoMetaLegadoComissao" th:text="${metaResponse.resultadoMetaLegadoComissao}">0</span>%</p>
                    <p><strong>Resultado Comissão Margem Novo (37,5%):</strong> <span id="resultadoMargemNovoComissao" th:text="${metaResponse.resultadoMargemNovoComissao}">0</span>%</p>
                    <p><strong>Resultado Comissão Margem Legado (37,5%):</strong> <span id="resultadoMargemLegadoComissao" th:text="${metaResponse.resultadoMargemLegadoComissao}">0</span>%</p>
                </div>
            </div>
        </div>

        <!-- Projections -->
        <div class="chart-container mb-4">
            <h3 class="text-center">Projeção e Metas</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4>Projeção</h4>
                    <div class="mb-4">
                        <p><strong>Projeção TPV Novo:</strong> <span id="projecaoMetaNovo" th:text="${metaResponse.projecaoMetaNovo}">0</span></p>
                        <p><strong>Projeção TPV Legado:</strong> <span id="projecaoMetaLegado" th:text="${metaResponse.projecaoMetaLegado}">0</span></p>
                        <p><strong>Projeção Margem Novo:</strong> <span id="projecaoMargemNovo" th:text="${metaResponse.projecaoMargemNovo}">0</span></p>
                        <p><strong>Projeção Margem Legado:</strong> <span id="projecaoMargemLegado" th:text="${metaResponse.projecaoMargemLegado}">0</span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Metas</h4>
                    <div class="mb-4">
                        <p><strong>Meta TPV Novo:</strong> <span id="metaTpvNovo" th:text="${metaResponse.metaTpvNovo}">0</span></p>
                        <p><strong>Meta TPV Legado:</strong> <span id="metaTpvLegado" th:text="${metaResponse.metaTpvLegado}">0</span></p>
                        <p><strong>Meta Margem Novo:</strong> <span id="metaMargemNovo" th:text="${metaResponse.metaMargemNovo}">0</span></p>
                        <p><strong>Meta Margem Legado:</strong> <span id="metaMargemLegado" th:text="${metaResponse.metaMargemLegado}">0</span></p>
                    </div>
                </div>
            </div>
        </div>
        
        

        <!-- Explanation -->
        <div id="explicacao" class="alert alert-info mt-4 text-center" role="alert">
            <!-- Explicação será inserida aqui pelo JavaScript -->
        </div>

        <!-- Botão de Voltar -->
        <div class="text-center mt-4">
            <a href="javascript:history.back()" class="btn btn-dark-custom">Voltar</a>
        </div>
    </div>
</body>
</html>
